/* index */

.bienvenida{
    min-height: 100vh;
    background-image: url(../assets/fondoinicio.png) ;
    @include conf-fondo;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        &__titulo{
            font-size: 40px;
            padding: 40px;
            color: $blanco;
            font-family: $fuente-titulos;
            font-weight: 400;
            text-align: center;
            text-shadow: $sombra;
        }
        &__texto1{
            font-size: 15px;
            padding: 10px;
            color: $blanco;
            font-weight: 400;
            text-align: center;
            text-shadow: $sombra;
        }
        &__texto2{
            display: none;
        }
}

.explicacion{
    border-bottom: 1px solid black;
    background-color: map-get( $colores , principal );
        &__titulo{
            font-size: 40px;
            padding: 40px;
            font-family: $fuente-titulos;
            font-weight: 400;
            text-align: center;
            color: $blanco;
            text-shadow: $sombra;
        }
        &__parrafo{
            text-align: center;
            @include espacio(10px, 30px);
            font-size: 15px;
            color: $blanco;
            text-shadow: $sombra;
        }
}

.servicios__titulo{
    font-size: 80px;
    padding: 40px;
    font-family: $fuente-titulos;
    font-weight: 400;
    text-align: center;
    color: map-get( $colores , principal );
}

.titulo-card{
    font-family: $fuente-titulos;
    font-size: 40px;
    margin-top: 10px;
    color: map-get( $colores , principal );
}

.boton-main{
    display: inline-block;
    background-color: map-get( $colores , principal );
    border-radius: 10px;
    padding: 10px;
    border: none;
        &:hover{
            background-color: map-get( $colores , secundario );
        }
}

.enlace-boton{
    text-decoration: none;
    color: $blanco;
}

/* reiki */

.contenedor{
    &__imagen{
        background-image: url(../assets/reikiprincipal2.png);
        min-height: 120vh;
        @include conf-fondo; 
            &__titulo{
                font-family: $fuente-titulos;
                font-size: 120px;
                color: $blanco;
                font-weight: 400;
                text-align: center;
                text-shadow: $sombra;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    }
}

.servicio{
    &__explicacion{
        background-color: map-get( $colores , principal );
        text-align: center;
            &__parrafo{
                padding: 30px 10px 30px 10px;
                margin-bottom: 0;
                font-size: 20px;
                color: $blanco;
                text-shadow: $sombra;
            }
            &__parrafo2{
                display: none;
            }
    }
}

.container__titulo{
    color: map-get( $colores , principal );
    text-align: center;
    font-family: $fuente-titulos;
    font-size: 50px;
    padding-top: 20px;
}

.form-label{
    color: map-get( $colores , principal );
}

.boton-main2 {
    color: $blanco;
    background-color: map-get( $colores , principal );
    border-radius: 10px;
    @include espacio (15px, 10px);
    border: none;
        &:hover{
            background-color: map-get( $colores, secundario );
        }
}

/* tarot */

.contenedor__imagent {
    background-image: url(../assets/fondotarotmob.png);
    min-height: 120vh;
    @include conf-fondo;
}

/*flores*/

.contenedor__imagenf {
    background-image: url(../assets/fondofloresmob.png);
    min-height: 100vh;
    @include conf-fondo;
}


.flores-en-animales{
    display: flex;
    flex-wrap: wrap;
    background-color: map-get( $colores, principal );
    justify-content: center;
    padding: 20px;
    border-top: 1px solid #808080;
        &__titulo{
            font-size: 40px;
            padding: 40px;
            color: $blanco;
            font-family: $fuente-titulos;
            font-weight: 400;
            text-align: center;
            text-shadow: $sombra;
        }
        &__parrafo{
            font-size: 20px;
            padding: 10px;
            color: $blanco;
            font-weight: 400;
            text-align: center;
            text-shadow: $sombra;
        }
        &__contenedor{
            width: 300px;
            padding: 20px;
                &__imagen{
                    width: 100%;
                    border-radius: 5px;
                }
                &__imagen2{
                    display: none;
                }
                &__imagen3{
                    display: none;
                }
        }
}

/*quien soy*/

.principal{
    &__seccion{
        display: flex;
        flex-direction: column;
        align-items: center;
            &__contenedor{
                width: 180px;
                margin: 20px;
                    &__imagen{
                        width: 100%;
                        border-radius: 50%;
                    }
            }
            &__parrafo{
                text-align: center;
                font-size: 15px;
                margin: 30px;
            }
            &__enlace{
                color: map-get( $colores, principal );
            }
    }
}

/*preguntas*/

.seccion{
    @include espacio (10px, 30px);
        &__titulo{
            font-family: $fuente-titulos;
            font-size: 60px;
            text-align: center;
            color: map-get( $colores, principal );
        }
}

.container__boton:hover {
    box-shadow: 0 0 0 0.25rem rgba(80, 74, 95, 0.5); 
    background-color: map-get( $colores, principal );
    color: $blanco;            
}






