//fuente de la web
$fuente: "merriweather";

$fuente-titulos: "Great Vibes", cursive;



//colores, sombras

$blanco: rgb(237, 237, 237);

$sombra: 2px 2px 8px rgba(0, 0, 0, 0.8);

//mapa

$colores:(
    principal: #504a5f,
    secundario: #69627d,
);